.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 60px; /* Adjust this value to reduce the logo size */
  width: 10em; /* Maintain aspect ratio */
  width: 9em;
}

/* Link styling */
.header a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

/* Hover effect for buttons */

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .logo {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .civic {
    margin-bottom: 10px;
  }

  .btn {
    margin-bottom: 10px;
  }
}
